<div class="container-fluid app-container" ng-show="load && rendered">
    <h1 align="center" class="app-header">Add Medical Record - {{card}}</h1>

    <ul class="timeline" id="timelineLlc" style="margin-top: 40px;">
        <li class="li complete">
            <div class="status">
                <div ng-click="sectionClicked($event)"> Personal Details</div>
            </div>
        </li>
        <li class="li">
            <div class="status">
                <div ng-click="sectionClicked($event)"> Diagnosis</div>
            </div>
        </li>
        <li class="li">
            <div class="status">
                <div ng-click="sectionClicked($event)"> Therapy</div>
            </div>
        </li>
        <li class="li">
            <div class="status">
                <div ng-click="sectionClicked($event)"> Follow-up</div>
            </div>
        </li>
    </ul>

    <div class="app-background-form">
        <div class="card" ng-show="currentSection === 1">
            <div class="card-header app-color" id="personalDetailsAccordion">
                <h5 class="mb-0">
                    <button aria-controls="collapsePersonalDetails" aria-expanded="true" class="btn btn-link"
                            data-target="#collapsePersonalDetails" data-toggle="collapse"
                            type="button">
                        Patient Personal Details
                    </button>
                </h5>
            </div>
            <form ng-submit="addPatient()">
                <div aria-labelledby="personalDetailsAccordion" class="collapse show" data-parent="#accordionBdn"
                     id="collapsePersonalDetails">
                    <ng-include src="'patient.html'"></ng-include>
                </div>
                <div class="app-center" style="margin: 10px 0 10px 0;">
                    <button class="btn btn-primary app-btn-color" type="submit">Save Patient</button>
                </div>
            </form>
        </div>
        <div class="card" ng-show="currentSection === 2">
            <div class="card-header app-color" id="diagnosisAccordion">
                <h5 class="mb-0">
                    <button aria-controls="collapseDiagnosis" aria-expanded="true" class="btn btn-link" data-target="#collapseDiagnosis"
                            data-toggle="collapse" type="button">
                        Diagnosis
                    </button>
                </h5>
            </div>

            <form ng-submit="addMyeloproliferativeDiagnosis()">
                <div aria-labelledby="diagnosisAccordion" class="collapse show" data-parent="#accordionBdn"
                     id="collapseDiagnosis">
                    <div class="card-body" style="padding-bottom: 0;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisWho">World Health Organization</label>
                                <select class="app-form-control" id="MyeloDiagnosisWho"
                                        ng-model="myeloDiagnosis.who2016"
                                        ng-options="item.description for item in whos track by item.id"
                                        ng-required="activeRequired">
                                    <option value="">-- Select WHO (World Health Organization) Classification --
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisBiopsy">Biopsy</label>
                                <input class="app-form-control" id="MyeloDiagnosisBiopsy" maxlength="45"
                                       ng-model="myeloDiagnosis.biopsy" ng-required="activeRequired"
                                       placeholder="Enter biopsy details" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisBoneMarrowFibrosis">Bone Marrow Fibrosis</label>
                                <select class="app-form-control" id="MyeloDiagnosisBoneMarrowFibrosis"
                                        ng-model="myeloDiagnosis.boneMarrowFibrosis"
                                        ng-options="item.description for item in boneMarrowFibrosis track by item.id">
                                    <option value="">-- Select bone marrow fibrosis grade --</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisGeneticMutation">Genetic Mutation</label>
                                <input class="app-form-control" id="MyeloDiagnosisGeneticMutation" maxlength="45"
                                       ng-model="myeloDiagnosis.geneticMutation" placeholder="Enter genetic mutation"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisMutationType">Mutation Type</label>
                                <input class="app-form-control" id="MyeloDiagnosisMutationType" maxlength="45"
                                       ng-model="myeloDiagnosis.mutationType" placeholder="Enter mutation type"
                                       type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisSplenomegaly">Splenomegaly</label>
                                <input class="app-form-control" id="MyeloDiagnosisSplenomegaly" maxlength="45"
                                       ng-model="myeloDiagnosis.splenomegaly" placeholder="Enter splenomegaly details"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisSpleenLength">Spleen Length</label>
                                <input class="app-form-control" id="MyeloDiagnosisSpleenLength" ng-model="myeloDiagnosis.spleenLength"
                                       placeholder="Enter spleen length" type="number">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisSpleenDiameter">Spleen Diameter</label>
                                <input class="app-form-control" id="MyeloDiagnosisSpleenDiameter" ng-model="myeloDiagnosis.spleenDiameter"
                                       placeholder="Enter spleen diameter" type="number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisSymptom">Symptom</label>
                                <select class="app-form-control" id="MyeloDiagnosisSymptom"
                                        ng-model="myeloDiagnosis.symptom"
                                        ng-options="item.description for item in symptom track by item.id"
                                        ng-required="activeRequired">
                                    <option class="app-color" value="">-- Select a symptom --</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisPreviousThromboticEpisode">Previous Thrombotic Episode</label>
                                <input class="app-form-control" id="MyeloDiagnosisPreviousThromboticEpisode" maxlength="45"
                                       ng-model="myeloDiagnosis.previousThromboticEpisode"
                                       placeholder="Enter previous thrombotic episode" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisThromboticEpisodeSite">Thrombotic Episode Site</label>
                                <input class="app-form-control" id="MyeloDiagnosisThromboticEpisodeSite" maxlength="200"
                                       ng-model="myeloDiagnosis.thromboticEpisodeSite"
                                       placeholder="Enter thrombotic episode site" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisPvRisk">PV Risk</label>
                                <input class="app-form-control" id="MyeloDiagnosisPvRisk" maxlength="45"
                                       ng-model="myeloDiagnosis.pvRisk" placeholder="Enter PV risk" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisEtRisk">ET Risk</label>
                                <input class="app-form-control" id="MyeloDiagnosisEtRisk" maxlength="45"
                                       ng-model="myeloDiagnosis.etRisk" placeholder="Enter ET risk" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="MyeloDiagnosisIpssRisk">IPSS Risk</label>
                                <input class="app-form-control" id="MyeloDiagnosisIpssRisk" maxlength="45"
                                       ng-model="myeloDiagnosis.ipssRisk" placeholder="Enter IPSS risk" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-center" style="margin: 10px 0 10px 0;">
                    <button class="btn btn-primary app-btn-color" type="submit">Save Myeloproliferative Diagnosis
                    </button>
                </div>
            </form>
        </div>
        <div class="card" ng-show="currentSection === 3">
            <form ng-submit="addTherapyMyeloproliferative()">
                <div class="card-header app-color" id="therapyAccordion">
                    <h5 class="mb-0">
                        <button aria-controls="collapseTherapy" aria-expanded="true" class="btn btn-link" data-target="#collapseTherapy"
                                data-toggle="collapse" type="button">
                            <span>Therapy</span>
                            <span class="newelement"> - 1</span>
                        </button>
                        <div class="pull-right">
                            <button class="oi oi-plus btn btn-primary app-btn-color" ng-click="addNewTherapy($event.target.parentNode.parentNode.parentNode)"
                                    ng-show="localTherapy[0] === numTherapies" style="margin-left: 10px;"
                                    type="button">Add
                            </button>
                        </div>
                    </h5>
                </div>
                <div aria-labelledby="therapyAccordion" class="collapse show" data-parent="#accordionBdn"
                     id="collapseTherapy">
                    <div class="card-body" style="padding-bottom: 0;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyLine">Therapy Line</label>
                                <select class="app-form-control" id="myeloTherapyLine"
                                        ng-model="myeloTherapy[0].therapyLine"
                                        ng-options="item.description for item in lineeTherapies track by item.id"
                                        ng-required="activeRequired">
                                    <option class="app-color" value="">-- Select a therapy line --</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyTreatmentResponse">Treatment Response</label>
                                <select class="app-form-control" id="myeloTherapyTreatmentResponse"
                                        ng-model="myeloTherapy[0].treatmentResponse"
                                        ng-options="item.description for item in treatmentResponses track by item.id"
                                        ng-required="activeRequired">
                                    <option class="app-color" value="">-- Select a treatment response --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyAntiplatelet">Antiplatelet</label>
                                <input class="app-form-control" id="myeloTherapyAntiplatelet" maxlength="45"
                                       ng-model="myeloTherapy[0].antiplatelet" placeholder="Enter antiplatelet"
                                       type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyAntiplateletType">Antiplatelet Type</label>
                                <input class="app-form-control" id="myeloTherapyAntiplateletType" maxlength="150"
                                       ng-model="myeloTherapy[0].antiplateletType" placeholder="Enter antiplatelet type"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapySupport">Support</label>
                                <input class="app-form-control" id="myeloTherapySupport" maxlength="45"
                                       ng-model="myeloTherapy[0].support" placeholder="Enter support" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapySupportType">Support Type</label>
                                <input class="app-form-control" id="myeloTherapySupportType" maxlength="150"
                                       ng-model="myeloTherapy[0].supportType" placeholder="Enter support type"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyHematologic">Hematologic</label>
                                <input class="app-form-control" id="myeloTherapyHematologic" maxlength="45"
                                       ng-model="myeloTherapy[0].hematologic" placeholder="Enter hematologic"
                                       type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyFirstLine">First Line</label>
                                <input class="app-form-control" id="myeloTherapyFirstLine" maxlength="100"
                                       ng-model="myeloTherapy[0].firstLine" placeholder="Enter first line"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyThromboticEpisode">Thrombotic Episode</label>
                                <input class="app-form-control" id="myeloTherapyThromboticEpisode" maxlength="45"
                                       ng-model="myeloTherapy[0].thromboticEpisode"
                                       placeholder="Enter thrombotic episode" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyEpisodeSite">Episode Site</label>
                                <input class="app-form-control" id="myeloTherapyEpisodeSite" maxlength="100"
                                       ng-model="myeloTherapy[0].episodeSite" placeholder="Enter episode site"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyAdverseEvent">Adverse Event</label>
                                <input class="app-form-control" id="myeloTherapyAdverseEvent" maxlength="45"
                                       ng-model="myeloTherapy[0].adverseEvent" placeholder="Enter adverse event"
                                       type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyEventType">Event Type</label>
                                <input class="app-form-control" id="myeloTherapyEventType" maxlength="150"
                                       ng-model="myeloTherapy[0].eventType" placeholder="Enter event type"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyOngoingTreatment">Ongoing Treatment</label>
                                <input class="app-form-control" id="myeloTherapyOngoingTreatment" maxlength="45"
                                       ng-model="myeloTherapy[0].ongoingTreatment" placeholder="Enter ongoing treatment"
                                       type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyInterruptionReason">Interruption Reason</label>
                                <input class="app-form-control" id="myeloTherapyInterruptionReason" maxlength="500"
                                       ng-model="myeloTherapy[0].interruptionReason"
                                       placeholder="Enter interruption reason" type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyDiseaseProgression">Disease Progression</label>
                                <input class="app-form-control" id="myeloTherapyDiseaseProgression" maxlength="45"
                                       ng-model="myeloTherapy[0].diseaseProgression"
                                       placeholder="Enter disease progression" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="myeloTherapyProgressionTowards">Progression Towards</label>
                                <input class="app-form-control" id="myeloTherapyProgressionTowards" maxlength="45"
                                       ng-model="myeloTherapy[0].progressionTowards"
                                       placeholder="Enter progression towards" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-center" style="margin: 10px 0 10px 0;">
                    <button class="btn btn-primary app-btn-color" type="submit">Save Myeloproliferative Therapy</button>
                </div>
            </form>
        </div>
        <div class="card" ng-show="currentSection === 4">
            <form ng-submit="addFollowup()">
                <div class="card-header app-color" id="followupAccordion">
                    <h5 class="mb-0">
                        <button aria-controls="collapseFollowup" aria-expanded="true" class="btn btn-link"
                                data-target="#collapseFollowup" data-toggle="collapse" type="button">
                            <span>Follow Up</span>
                            <span class="newelement"> - 1</span>
                        </button>
                        <div class="pull-right">
                            <button class="oi oi-plus btn btn-primary app-btn-color" ng-click="addNewFollowup($event.target.parentNode.parentNode.parentNode)"
                                    ng-show="localFollowup[0] === numFollowup" style="margin-left: 10px;"
                                    type="button">Add
                            </button>
                        </div>
                    </h5>
                </div>
                <div aria-labelledby="followupAccordion" class="collapse show" data-parent="#accordionBdn"
                     id="collapseFollowup">
                    <div class="card-body" id="followupBody" style="padding-bottom: 0;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="followupDate">Date</label>
                                <input class="app-form-control" id="followupDate" ng-model="followup[0].date" placeholder="Insert date"
                                       type="date">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="followupExitus">Exitus</label>
                                <input class="app-form-control" id="followupExitus" maxlength="45"
                                       ng-model="followup[0].exitus" placeholder="Insert exitus" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="followupNumCycles">Cycles Number</label>
                                <input class="app-form-control" id="followupNumCycles" ng-model="followup[0].numCycles"
                                       placeholder="Insert num cycles" type="number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="followupCausa">Cause</label>
                                <textarea class="app-form-control" cols="25" id="followupCausa" maxlength="1000" ng-model="followup[0].cause"
                                          placeholder="Insert cause" rows="4"
                                          type="textarea"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="followupPathologyStatus">Pathology Status</label>
                                <textarea class="app-form-control" cols="25" id="followupPathologyStatus" maxlength="1000"
                                          name="textarea" ng-model="followup[0].pathologyStatus"
                                          placeholder="Insert pathology status" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-center" style="margin: 10px 0 10px 0;">
                    <button class="btn btn-primary app-btn-color" type="submit">Save Follow Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
