<div class="container-fluid app-container">
    <div class="login-container" ng-show="load">
        <h1 align="center" class="app-header">BLOOD DISEASES NETWORK</h1>
        <div class="row justify-content-center app-center">
            <div class="login-background">
                <div class="m3-logo-container">
                    <img alt="Responsive image" class="img-responsive login-m3-logo centerE"
                         src="./images/logo_bdn.png">
                </div>
                <h3 class="login-header" style="color: #484c4d;text-align: center">Sign in to Platform</h3>
                <form ng-submit="loginUser()">
                    <div class="form-group">

                        <input class="login-input centerE" id="username" name="username" ng-model="credentials.username"
                               placeholder="Enter username" required type="text">
                        <input class="login-input centerE" id="password" name="password" ng-model="credentials.password"
                               placeholder="Enter password" required type="password">

                        <label style="margin: 0"> <input data-ng-model="remember" name="remember" style="margin-top: 15px;"
                                                         type="checkbox"> Remember Me </label>

                        <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>

                        <button class="login-button centerE" id="loginSubmitBtn" name="submit" type="submit">Sign in
                        </button>
                        <div class="row" style="padding-bottom: 20px;">
                            <a class="login-button centerE" href="#!/register" role="button">Register</a>
                        </div>
                    </div>
                </form>
                <div class="alert alert-danger" ng-show="loginerror">Login error</div>
            </div>
        </div>

    </div>

    <div class="login-footer">
        <div class="row justify-content-center">
            <div class="col">
                <a href="https://ivanbattimiello.dev" target="_blank"><img alt="Responsive image"
                                                                           class="img-responsive login-m3-logo centerE"
                                                                           src="./images/powered_by.png"></a>
            </div>
        </div>
    </div>

</div>