<div class="container-fluid app-container" ng-show="load">
    <h1 align="center" class="app-header">STATISTICS BDN</h1>
    <div style="margin-top: 20px">

        <div class="row" style="margin-bottom: 15px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"><bdn-pie-chart titlename="titleName[0]" labels="labels" data="data[0]"></bdn-pie-chart></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"><bdn-pie-chart titlename="titleName[1]" labels="labels" data="data[0]"></bdn-pie-chart></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"><bdn-pie-chart titlename="titleName[2]" labels="labels" data="data[0]"></bdn-pie-chart></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"><bdn-pie-chart titlename="titleName[3]" labels="labels" data="data[0]"></bdn-pie-chart></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"><bdn-pie-chart titlename="titleName[4]" labels="labels" data="data[0]"></bdn-pie-chart></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"><bdn-line-chart labels="labels" data="data[0]"></bdn-line-chart></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"><bdn-bar-chart labels="labels" data="data[2]"></bdn-bar-chart></div>
        </div>
    </div>
</div>