p, span, label {
    color: #4986c8;
}

input:hover, select:hover {
    box-shadow: inset 0px 0px 6px 1px #4986c8;
    transition-duration: 250ms;
}

.blueBg {
    background: #e40520;
    position: absolute;
    width: 100%;
}

.app-btn-color {
    color: #fff;
    background-color: #4986c8;
}

.app-btn-red {
    background-color: #dc3545;
}

.app-btn-color > span {
    color: #fff;
}

.app-btn-color:hover {
    color: #fff;
    background-color: #2f649d;
    border-color: #2f649d;
}

.app-header {
    margin-top: 10px;
    font-family: Open Sans;
    text-shadow: 4px 1px 30px #023c79;
}

.app-font {
    font-family: Open Sans;
}

.app-color {
    color: #4986c8;
}

.app-white {
    color: white;
}

.app-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.app-brand {
    height: 63px;
    top: -7px;
}

.app-center {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.app-inline {
    display: inline-flex;
}

.app-profile-img {
    max-width: 40px;
}

.app-profile {
    border: none;
    padding: initial;
}

.popover-header {
    text-align: center;
    color: black;
}

.app-alignv {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.app-username {
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
}


/* Timeline */
.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.timestamp {
    margin-bottom: 20px;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 5px 60px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in; /* Transition when element activate */
}

.status div {
    font-weight: 400;
    font-size: 1.7rem;
    cursor: pointer;
}

.status:before {
    content: "";
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.li.complete .status {
    border-top: 2px solid #66DC71;
}

.li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
}

.li.complete .status h4 {
    color: #66DC71;
}

/*@media (min-device-width: 320px) and (max-device-width: 700px) {*/
@media (max-width: 992px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        transition: all 200ms ease-in;
        left: 49%;
    }
}

#toggleButton {
    position: absolute;
    background-color: #75C7F6;
}

.app-background-form {
    background: white;
}

.app-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fast-fade {
    transition: all linear 0.2s;
    opacity: 1;
}

.fade-in-out {
    transition: 1s linear all;
    opacity: 1;
}

.fade-in-out.ng-hide {
    opacity: 0;
}


/* Table */
.app-table-container {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(72, 76, 77, 0.5);
    display: block;
    overflow: auto;
    width: 100%;
}

.app-table {
    background-color: #ffffff;
    color: #484c4d;
    font-weight: 400;
    overflow: auto;
}

@media (max-width: 877px) {
    .app-table {
        display: block;
    }
}

.app-table > tbody > tr:nth-of-type(even) {
    background-color: #2f649d;
}

.app-table > tbody > tr:nth-of-type(odd) {
    background-color: #4986c8;
}

.app-table .ng-table-header {
    text-align: left;
    font-size: 11pt;
    font-weight: 600;
}

.app-table .input-filter {
    height: 28px;
    background: #aacff7;
}

.app-table-showing {
    color: #484c4d;
    font-weight: 500;
    margin-bottom: 20px;
}

.ng-table-pager button {
    background: #aacff7;
}

.ng-table-pager button:hover {
    box-shadow: inset 0px 0px 5px 1px #4986c8;
}

.app-table-container .btn-default.active, .app-table-container .btn-default.active span {
    background-color: #4986c8;
    color: #ffffff;
    border-color: #e6e6e6;
    outline: none;
}

.app-table-container .btn-default.active:hover {
    color: #ffffff;
    cursor: default;
    outline: none;
}

.app-table-container .btn-default {
    color: #e6e6e6;
    outline: none;
}

.app-table-container .btn-default:hover {
    color: #e30520;
    outline: none;
}

.app-table-container .ng-table th.sortable.sort-asc, .app-table-container .ng-table th.sortable.sort-desc {
    background: #aacff7;
    outline: none;
}

.ng-table th.sortable:last-child .sort-indicator:before, .ng-table th.sortable:last-child .sort-indicator:after {
    visibility: hidden;
}

.ng-table th.sortable:last-child .sort-indicator:hover:before, .ng-table th.sortable:last-child .sort-indicator:hover:after {
    visibility: hidden;
}

.ng-table th.sortable:last-child {
    pointer-events: none;
}

.app-table-container .ng-table th.sortable:last-child {
    background-color: transparent !important;
    cursor: default;
}

.app-table-container .ng-table th.sortable:last-child:active {
    outline: none;
}

.app-table-container .pagination > li > a, .pagination > li > span {
    color: #e6e6e6;
    background-color: #aacff7;
}

.app-table-container .pagination > .active > a, .pagination > .active > a > span, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #4986c8;
    border-color: #fff;
    color: #fff;
    cursor: default;
}

.app-table-container .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    box-shadow: inset 0px 0px 5px 1px #4986c8;
}

.pagination > .disabled > a {
    background-color: #dee2e6 !important;
    color: #adadad !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #2f649d;
}

.app-no-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}


/*LOADER*/
.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.custom-loader {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 52%;
    top: 50%;
}

/*Loader Customization*/
.ball-clip-rotate-multiple > div {
    background-color: #2f649d;
}

.ball-clip-rotate-multiple > div:last-child {
    background: white;
}

.loader-inner {
    transform: scale(1.4, 1.4);
}

/* Alert */
.my-alert {
    position: fixed;
    width: 50%;
    top: 65px;
    right: 0;
    z-index: 999;
}

.fast-fade {
    transition: all linear 0.2s;
    opacity: 1;
}

.newfade {
    transition: all linear 1s;
    opacity: 1;
}

.newfade.ng-hide {
    opacity: 0;
}

.ng-hide {
    opacity: 0;
    transition: none;
}

.newfade-loader {
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.blink-effect {
    transition: all cubic-bezier(0.36, 1.14, 0.9, -0.76) 0.9s;
}

/*CHARTS*/
.pie-container {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 1px -1px #e6e6e680;
}

.line-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 1px -1px #e6e6e680;
}

.bar-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 1px -1px #e6e6e680;
}

.chart-content {
    height: auto;
}

.col-app-20 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-link {
    text-decoration: none !important;
    color: inherit;
}

.oi-plus:before, .oi-minus:before {
    font-size: 13px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Progress bar for idle state */
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress.active .progress-bar, .progress-bar.active, .progress-striped.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}


/* Sample Animation*/
/* The starting CSS styles for the enter animation */

.fade {
    opacity: 1;
}

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

@media (min-width: 768px) {
    .col-app-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {

}