<div class="card-body" id="followupBody" style="padding-bottom: 0;">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="followupDate">Date</label>
            <input class="app-form-control" id="followupDate" ng-model="followup[0].date" placeholder="Insert date"
                   type="date">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="followupExitus">Exitus</label>
            <input class="app-form-control" id="followupExitus" maxlength="45" ng-model="followup[0].exitus"
                   placeholder="Insert exitus" type="text">
        </div>
        <div class="form-group col-md-6">
            <label for="followupNumCycles">Cycles Number</label>
            <input class="app-form-control" id="followupNumCycles" ng-model="followup[0].numCycles" placeholder="Insert num cycles"
                   type="number">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="followupCausa">Cause</label>
            <textarea class="app-form-control" cols="25" id="followupCausa" maxlength="1000" ng-model="followup[0].cause"
                      placeholder="Insert cause" rows="4" type="textarea"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="followupPathologyStatus">Pathology Status</label>
            <textarea class="app-form-control" cols="25" id="followupPathologyStatus" maxlength="1000" name="textarea"
                      ng-model="followup[0].pathologyStatus" placeholder="Insert pathology status"
                      rows="4"></textarea>
        </div>
    </div>
</div>