<ul class="timeline" id="timeline" style="margin-top: 40px;">
    <li class="li complete">
        <div class="status">
            <div ng-click="sectionClicked($event)"> Personal Details </div>
        </div>
    </li>
    <li class="li">
        <div class="status">
            <div ng-click="sectionClicked($event)"> Dyagnosis </div>
        </div>
    </li>
    <li class="li">
        <div class="status">
            <div ng-click="sectionClicked($event)"> Therapy </div>
        </div>
    </li>
    <li class="li">
        <div class="status">
            <div ng-click="sectionClicked($event)"> Follow-up </div>
        </div>
    </li>
</ul>